block variables
doctype html
html
  head
    include partials/head.pug
  body
    header
      include partials/header.pug
    div#root
      block layout-content
    footer
      include partials/footer.pug